<h4>Character's distribution:</h4>
<% @game.characters.uniq.each do |character| %>
  <div>
    <ul>
    <%= link_to character.name, character_path(character) %>:
      <% @game.game_players_based_on_character(character.id).each do |game_player| %>
        <li>
        <%= game_player.player.name %>
        </li>
    <% end %>
    </ul>
  </div>
<% end %>